#list {
    list-style-type: none;
    background-color:#fffaf0;
    border: 1.5px solid#dc143c;
    padding: 20px;
    margin:30px;
    font-family:"Times New Roman", Times, serif;
    z-index: 3;
}

#title {
    color: #dc143c;
    font-weight: bold;
    font-size: 1.2em;
    height: 5px;
}

#shortText {
    font-size: 1em;   
}

#author {
    text-align: right;
    font-size: 1em;
}

#date {
    float: right;
    font-weight: bold;
    font-size: 1em;
}