.background {
     background-color :#dcdcdc; 
     z-index: 0;
}

#background1 {
    border: 1px solid black;
    background:#ffffff;
    padding: 20px;
    width: 80%;
    left: 10%;
    position: relative;
    z-index: 1;
     
}

.background2 {
    border: 1.1px dashed black;
    background: #a9a9a9;
    padding:10px;
    margin: auto;
    z-index: 2; 
    list-style: none;
 
}
.grid_box {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

@media  (min-width: 300px) {
    .grid_box {
        display: inline-grid;
        grid-template-columns: 20%;
    }
}

@media (min-width: 600px) {
    .grid_box {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 800px) {
    .grid_box {
        display: inline-grid;
        grid-template-columns: 33% 33% 33%;
    }
}
@media (min-width: 1000px) {
    .grid_box {
        display: inline-grid;
        grid-template-columns: 25% 25% 25% 25% ;
    }
}