#list {
    list-style-type: none;
    box-shadow: 10px 10px 5px #888888;
    background: rgba(255, 250, 240);
    border: 1.5px solid#dc143c;
    border-radius: 25px;
    padding: 5px;
    height: auto;
    margin:30px;
    font-family:"Times New Roman", Times, serif;
    z-index: 3;
    background-image: linear-gradient(to right,lightcoral,white 20%);
    
}

#title {
    color: #dc143c;
    font-weight: bold;
    font-size: 1.2em;
    height: 5px;
    padding: 10px;
    position: relative;
    margin: 1px;

}

#shortText {
    font-size: 1em;   
    position: relative;
    margin: 25px;
}

#author {
    text-align: right;
    font-size: 1em;
    position: relative;
}

#date {
    float: right;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}
