.item {
    list-style-type: none;
    text-align: left;
    box-shadow: 10px 10px 5px #888888;
    background: rgba(255, 250, 240);
    border: 1.5px solid#dc143c;
    padding: 5px;
    height: auto;
    width: auto;
    margin:5%;
    font-family:"Times New Roman", Times, serif;
    z-index: 3;
    background-image: linear-gradient(to right,lightcoral,white 20%);
}

#title {
    color: #dc143c;
    font-weight: bold;
    font-size: 1.2em;
    height: auto;
    margin-bottom: 0px;
    position: relative;

}

#shortText {
    text-align: left;
    font-size: 1em;  
    margin-top: 0;
    position: relative; 
}

#author {
    text-align: left;
    font-size: 1em;
    position: relative;
}

#date {
    float: left;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

