.footer {
    background-color:#dc143c;
    display: flex;
    font-family:"Times New Roman", Times, serif;
    align-items: center;
    height: 150px;
    width: auto;
    margin-top: 10px;
    color:white;
    padding-left:8%;
    padding-right: 8%;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
}

address, span, time {
    font-family:"Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1em;
}
time {
    font-weight: lighter;
}