.header {
    background-color:#dc143c;
    display: flex;
    font-family:"Times New Roman", Times, serif;
    align-items: center;
    height: 150px;
    width: auto;
    margin-bottom: 10px;
    color:white;
    padding-left:8%;
    padding-right: 8%;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

h2 {
    font-family:"Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 2em;
}